<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/form.css">
    <title>New Post</title>
</head>
<body>
    
    <form method="post" action="/posts">
        <h2>New <span>POST</span></h2>
        <input type="text" placeholder="username" name = "username" id="username">
        <textarea name="content" id="content" placeholder="write your post"></textarea>
        <button>Submit Post</button>
    </form>
</body>
</html>